# DSSS23 - Data Engineering: Lab 04
---------------

## **The Dataset**

The dataset to be used in this lab is a CSV file named `airbnb.csv`, which contains data on airbnb listings in the state of New York. It contains the following columns:

- `listing_id`: The unique identifier for a listing
- `description`: The description used on the listing
- `host_id`: Unique identifier for a host
- `host_name`: Name of host
- `neighbourhood_full`: Name of boroughs and neighbourhoods
- `coordinates`: Coordinates of listing _(latitude, longitude)_
- `Listing added`: Date of added listing
- `room_type`: Type of room 
- `rating`: Rating from 0 to 5.
- `price`: Price per night for listing
- `number_of_reviews`: Amount of reviews received 
- `last_review`: Date of last review
- `reviews_per_month`: Number of reviews per month
- `availability_365`: Number of days available per year
- `Number of stays`: Total number of stays thus far

## **Getting started**

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
# Read in the dataset
airbnb = pd.read_csv('DE1_Lab05_airbnb.csv', index_col = 'Unnamed: 0')

## **Diagnosing data cleaning problems using simple `pandas`**

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following: 

- `.head()` prints the header of a DataFrame
- `.dtypes` prints datatypes of all columns in a DataFrame
- `.info()` provides a bird's eye view of column data types and missing values in a DataFrame
- `.describe()` returns a distribution of numeric columns in your DataFrame
- `.isna().sum()` allows us to break down the number of missing values per column in our DataFrame
- `.unique()` finds the number of unique values in a DataFrame column

## **Our task list:**

_Data type problems:_

- **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.
- **Task 2**: Remove `$` from `price` and convert it to `float`
- **Task 3**: Convert `listing_added` and `last_review` to `datetime`

<br>

_Text/categorical data problems:_

- **Task 4**: We need to collapse `room_type` into correct categories
- **Task 5**: Divide `neighbourhood_full` into 2 columns and making sure they are clean

<br>

_Data range problems:_

- **Task 6**: Make sure we set the correct maximum for `rating` column out of range values

<br>

_Dealing with date problems:_

- **Task 7**: Check consitent date format in the date columns.

<br>


_Dealing with duplicate data:_

- **Task 8**: Check for duplicate data.

## **Tasks**

##### **Task 1:** Split `coordinates` into 2 columns (`latitude` and `longitude`) and convert them to `float`.

To perform this task, we will use the following methods:

- `.str.replace("","")` replaces one string in each row of a column with another
- `.str.split("")` takes in a string and lets you split a column into two based on that string
- `.astype()` lets you convert a column from one type to another

In [ ]:
# Remove "(" and ")" from coordinates

# Print the header of the column

In [ ]:
# Split column into two

In [ ]:
# Assign correct columns to latitude and longitude columns in airbnb

# Print the header and confirm new column creation

In [ ]:
# Print out dtypes again

In [ ]:
# Convert latitude and longitude to float

# Print dtypes again

In [ ]:
# Drop coordinates column

##### **Task 2:** Remove `$` from `price` and convert it to `float`

To perform this task, we will be using the following methods:

- `.str.strip()` which removes a specified string from each row in a column
- `.astype()`

In [ ]:
# Remove $ from price before conversion to float

# Print header to make sure change was done

In [ ]:
# Convert price to float

# Calculate mean of price after conversion

##### **Task 3:** Convert `listing_added` and `last_review` columns to `datetime`

To perform this task, we will use the following functions:

- `pd.to_datetime(format = "")`
  - `format` takes in the desired date format `"%Y-%m-%d"`

In [ ]:
# Print header of two columns

In [ ]:
# Convert both columns to datetime

In [ ]:
# Print header and datatypes of both columns again

### Text and categorical data problems

##### **Task 4:** We need to collapse `room_type` into correct categories

To perform this task, we will be using the following methods:

- `.str.lower()` to lowercase all rows in a string column
- `.str.strip()` to remove all white spaces of each row in a string column
- `.replace()` to replace values in a column with another

In [ ]:
# Print unique values of `room_type`

In [ ]:
# Deal with capitalized values

In [ ]:
# Deal with trailing spaces

In [ ]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable).

##### **Task 5:** Divide `neighbourhood_full` into 2 columns and making sure they are clean

In [ ]:
# Print header of column

In [ ]:
# Split neighbourhood_full

In [ ]:
# Create borough and neighbourhood columns

# Print header of columns

In [ ]:
# Drop neighbourhood_full column

In [ ]:
# Print out unique values of borough and neighbourhood

In [ ]:
# Strip white space from neighbourhood column

# Print unique values again

##### **Task 6:** Make sure we set the correct maximum for `rating` column out of range values

In [ ]:
# Isolate rows of rating > 5.0

In [ ]:
# Drop these rows and make sure we have effected changes

In [ ]:
# Get the maximum

##### **Task 7:** Check consitent date format in the date columns.

In [ ]:
# Doing some sanity checks on date data

In [ ]:
# Are there reviews in the future?

In [ ]:
# Are there listings in the future?

In [ ]:
# Drop these rows since they are only 4 rows

In [ ]:
# Are there any listings with listing_added > last_review

In [ ]:
# Drop these rows since they are only 2 rows

##### **Task 8:** Let's deal with duplicate data


There are two notable types of duplicate data:

- Identical duplicate data across all columns
- Identical duplicate data cross most or some columns

To diagnose, and deal with duplicate data, we will be using the following methods and functions:

- `.duplicated(subset = , keep = )`
  - `subset` lets us pick one or more columns with duplicate values.
  - `keep` returns lets us return all instances of duplicate values.
- `.drop_duplicates(subset = , keep = )`

In [ ]:
# Print the header of the DataFrame again

In [ ]:
# Find duplicates

In [ ]:
# Find duplicates

In [ ]:
# Remove identical duplicates

In [ ]:
# Find non-identical duplicates

In [ ]:
# Show all duplicates

To treat identical duplicates across some columns, we will chain the `.groupby()` and `.agg()` methods where we group by the column used to find duplicates (`listing_id`) and aggregate across statistical measures for `price`, `rating` and `list_added`. The `.agg()` method takes in a dictionary with each column's aggregation method - we will use the following aggregations:

- `mean` for `price` and `rating` columns
- `max` for `listing_added` column
- `first` for all remaining column

*A note on dictionary comprehensions:*

Dictionaries are useful data structures in Python with the following format
`my_dictionary = {key: value}` where a `key` is mapped to a `value` and whose `value` can be returned with `my_dictionary[key]` - dictionary comprehensions allow us to programmatically create dicitonaries using the structure:

```
{x: x*2 for x in [1,2,3,4,5]} 
{1:2, 2:4, 3:6, 4:8, 5:10}
```

In [ ]:
# Get column names from airbnb

In [ ]:
# Create dictionary comprehension with 'first' as value for all columns not being aggregated

In [ ]:
# Remove non-identical duplicates

In [ ]:
# Make sure no duplication happened

In [ ]:
# Print header of DataFrame